@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	font-family: "Candara", Verdana, sans-serif;
}

.container {
	width: 900px;
	margin: 30px auto;
}

main {
	background-color: #F7F7F7;
	padding: 0 10px 10px;
	overflow: auto;
}

main li, p {
	font-size: 14px;
}

li {
	list-style-type: square;
}

a {
	text-decoration: none;
	color:#000000;
}

#crystal {
	position: fixed;
    bottom: 0;
    left: 0;
	z-index: -1;
}

#bio {
	float: left;
	height: 300px;
	width: 300px;
	margin: 20px 20px 0 0;
}

.backToTop{
	text-align:center; 
	text-decoration: none;
	position:fixed;
	bottom: 20px;
	right: 40px;
	display:none;
}
.backToTop:hover{
	text-decoration:none;
}

.hidden {
	display: none;
}

/*--BEGIN HEADER--*/

h1 {
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	color: #F16544;
	line-height: 5px;
	text-transform: uppercase;
	font-weight: 100;
}

h4 {
	font-style: italic;
	color: #666666;
	font-weight:100;
	line-height: 2px;
}

h5 {
	text-transform: uppercase;
	font-weight: 100;
}

header h4 a:visited {
	color: #666666;
}

.logo, nav {
	display: inline-block;
}

nav {
	float: right;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin: 0 20px;
	text-transform: uppercase;
	text-align: right;
}

nav li a {
	color: #000000;
}

nav a:hover {
	background-color: #F16544;
	color: #FFFFFF;
}

.mobile {
	display: none;
}

.mobile li a {
		color: #FFFFFF;
}

.dropdown ul {
	position: absolute;
	z-index: 1;
	background-color: #F16544;
	padding: 5px;
}

.dropdown li a {
		color: #FFFFFF;
		text-align: left;
}

.burger {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #F16544;
	display: inline;
	padding: 0 5px;
}

/*--END HEADER--*/

/*--BEGIN JUMBOTRON--*/

.jumbotron {
	background-image: url('../img/portfolio/elton.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	width: 900px;
	text-align:center;
}

.jumbotron h1 {
	position: relative;
	top: 200px;
	line-height: 36px;
}

/*--END JUMBOTRON--*/

/*--BEGIN PORTFOLIO*/

.portfolio {
    margin: 20px 0 0 0;
    padding: 0;
}

.col3 {
	width: 33.33%;
	padding: 0 10px 0;
	float: left;
}

.col3 img {
	max-width: 100%;
}

.title {
	opacity: 0;
	background-color: #F16544;
	left: 0;
	position: absolute;
	top: 0;
  	color: #FFFFFF;
	padding: 0 10px 10px;
	width: 100%;
	height: 100%;
}

.portImage {
	position: relative;
	margin-bottom: 10px;
}

.portImage:hover .title {
	opacity: 0.9;
}

.italic {
	font-style: italic;
}

.title a {
	color: #FFFFFF;
}
  
/*--END PORTFOLIO--*/

/*--BEGIN LIGHTBOX--*/

#backdrop
	{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .3;
	z-index: 50;
	display: none;
}

.box
	{
	position: fixed;
	width: 400px;
	max-height: 100%;
	margin-left: -200px;
	margin-top: -200px;
	top: 50%;
	left: 50%;
	display: none;
	text-align: center;
	z-index: 51;
/*	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;*/
	/*background-color: #ffffff;*/
}

.box img {
	max-width: 100%;
}

/*--END LIGHTBOX--

  
/*--BEGIN RESUME--*/

.col {
	float: left;	
	width: 50%;
	padding: 0 50px 0 10px;
}

#alm {
	height: 32px;
	width: 147px;
}

#depaul {
	height: 33px;
	width: 250px;
}

.institution {
	font-weight: bold;
}

.city {
	font-style: italic;
	line-height: 1px;
}

/*--END RESUME--*/

/*--BEGIN FORM--*/

input, textarea {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #F16544;
	width: 450px;
}

button {
	padding: 10px;
	background-color: #F16544;
	color: #FFFFFF;
	border: none;
	width: 150px;
}

/*--END FORM--*/

/*--BEGIN SOCIAL--*/

.social {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #F16544;
	width: 100px;
}
	
.social img {
	height: 32px;
	width: 32px;
}

.social li {
	list-style-type: none;
	margin: 5px auto;
}

/*--END SOCIAL--*/

/*--BEGIN FOOTER--*/

footer ul {
	float: right;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin: 0 20px;
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
}

footer li a {
	color: #666666;
}

/*--END FOOTER--*/

/*--MEDIA--*/
@media all and (max-width: 768px) {
	#crystal, .desktop {
		display: none;
	}
	.col3 {
		float: none;
	}
	.logo, nav {
	display: block;
	float: none;
	}
	nav li, footer li, li {
	display: block;
	text-align: left;
	margin-left: 0;
	}
	footer ul {
		float: none;
	}
	.logo {
		margin-left: 40px;
	}
	#bio {
		float: none;
	}
	input, textarea {
	width: 325px;
	}
	.container {
		max-width: 100%;
	}
	.col3 {
		width: 100%;
	}
	.col {
		width: 100%;
		padding-right: 0;
		float: none;
	}
	.mobile {
		display: block;
	}
}

@media all and (max-width: 900px) {
	.jumbotron {
		display: none;
	}

@media all and (max-width: 1100px) {
	.social {
		display: none;
	}
}
