@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	font-family: "Candara", Verdana, sans-serif;
}

.container {
	width: 900px;
	margin: 30px auto;
}

main {
	background-color: #F7F7F7;
	padding: 0 20px 20px;
	overflow: auto;
	clear: both;
}

main li, p {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #000000;
}

#crystal {
	position: fixed;
    bottom: 0;
    left: 0;
	z-index: -1;
}

#bio {
	float: left;
	height: 300px;
	width: 300px;
	margin: 20px 20px 0 0px;
}

.backToTop{
	text-align:center; 
	text-decoration: none;
	position:fixed;
	bottom: 20px;
	right: 40px;
	display:none;
	color: #F16544;
}
.backToTop:hover{
	text-decoration:none;
}

.hidden {
	display: none;
}

/*--BEGIN HEADER--*/

h1 {
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	color: #F16544;
	line-height: 5px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 48px;
}

h3 a:hover {
	color: #F16544;
	transition: color 0.5s ease;
}

h4 {
	font-style: italic;
	color: #666666;
	font-weight: 500;
	line-height: 2px;
	letter-spacing: 11px;
	padding-left: 3px;
	font-size: 20px;
}

h5 {
	text-transform: uppercase;
	font-weight: 100;
}

header h4 a:visited {
	color: #666666;
}

.logo {
	float: left;
	margin-left: 20px;
}

.logo, nav {
	display: inline-block;
}

nav {
	float: right;
}

nav ul {
	padding-top: 20px;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	text-transform: uppercase;
}

nav li a {
	color: #000000;
}

nav a:hover {
	background-color: #F16544;
	color: #FFFFFF;
}

/*--END HEADER--*/

/*--BEGIN PORTFOLIO*/

.portfolio {
    margin: 0;
    padding: 20px 0px 0;
    width: 100%;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.portImage {
	position: relative;
	margin: 0 0 20px;
	display: inline-block;
}

.portImage > img {
	max-width: 100%;
}

.clearfix {
    overflow: auto;
}

.title {
	opacity: 0;
	background-color: #F16544;
	left: 0;
	position: absolute;
	top: 0;
  	color: #FFFFFF;
	padding: 0 10px 10px;
	width: 100%;
	height: 100%;
}

.portImage:hover .title {
	opacity: 0.85;
}

.italic {
	font-style: italic;
}
  
/*--LIGHTBOX--*/

#backdrop
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

.lightbox {
	position: fixed;
	width: 640px;
	height: 480px;
	margin-left: -320px;
	margin-top: -240px;
	top: 50%;
	left: 50%;
	display: none;
	text-align: center;
	z-index: 51;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;
}

  
/*--BEGIN RESUME--*/

.col {
	float: left;	
	width: 50%;
	padding: 0 50px 0 0px;
}

#alm {
	height: 32px;
	width: 147px;
}

#depaul {
	height: 33px;
	width: 250px;
}

.institution {
	font-weight: bold;
}

.city {
	font-style: italic;
	line-height: 1px;
}

main .col ul {
	list-style-type: none !important;
	margin: 0;
	padding: 0;
}

main .col li{
	padding-left: 20px;
	list-style-position: inside;
    text-indent: -1em;
}

main .col li:before {
    content: "• ";
    color: #F16544;
}

ul.indent li {
	margin-left: 15px;
}

/*--END RESUME--*/

/*--BEGIN FOOTER--*/

footer p {
	float: left;
	margin: 20px;
	font-size: 12px;
	color: #666666;
}

footer ul {
	float: right;
	margin-left: 10px;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
}

footer a {
	color: #666666;
}

footer a:hover {
	color: #F16544;
}

/*--END FOOTER--*/

/*--MEDIA--*/

/* Large Devices, Wide Screens */
    @media only all and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only all and (max-width : 992px) {
	#crystal {
		display: none;
}

	#bio {
		float: none;
}

	input, textarea {
	width: 325px;
}

	.container {
		max-width: 100%;
}

	footer ul {
	padding: 0;
}

	footer ul, footer p {
	float: none;
	}

}

    /* Small Devices, Tablets */
    @media only all and (max-width : 768px) {
	.portfolio {-moz-column-count: 2; -webkit-column-count: 2; column-count: 2;}

		h1 {
	font-size: 30px;
}

	h4 {
	letter-spacing: 6.3px;
	font-size: 14px;
}

	nav ul {
		padding: 0;
}

	nav {
	float: left;
}

	nav li {
	text-align: left;
	margin: 0;
	padding-left: 20px;
}

	.logo, nav {
	display: block;
}

	.col {
		width: 100%;
		padding-right: 0;
		float: none;
}

    }

    /* Extra Small Devices, Phones */ 
    @media only all and (max-width : 480px) {
	.portfolio {-moz-column-count: 1; -webkit-column-count: 1; column-count: 1;}

    }

    /* Custom, iPhone Retina */ 
    @media only all and (max-width : 320px) {
        
    }
